
@model IEnumerable<AspNetVideoCore.ViewModels.VideoViewModel>
@{
    ViewData["Title"] = "Index";
}




@foreach (var video in Model)
{
    <tr>

        <td>@video.Id</td>
        <td>@video.Title</td>
        <td>@video.Genre</td>
        <td>@Html.ActionLink(video.Id.ToString(), "Details", new  { id = video.Id })</td>
    </tr>

}